body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.display{
    font-size: 50px;
    padding-left: 20px;
    padding-right: 20px;
}